@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* navbar */
/* .container{
    min-width: 100%
} */
/* myservice  */
#myservice .mylist {
    display: flex;
    gap: 10px;
}
#myservice .mylist .listimg{
    
}
#myservice .mylist .listimg img {
   
}
#myservice .mylist .listcontent {
    color: #000;
}
#myservice .mylist .listcontent h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 25px;
}
#myservice .mylist .listcontent h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 20px;
}
#myservice .mylist .listcontent p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 5px;
}
.mindset {
    width: 214px;
}
.marchandise{
    width: 225px;
}
.donate {
    width: 285px;
    height: 100%;
}
.author {
    width: 213px;
}
.talk {
    width: 212px;
}
.income {
    width: 200px;

}
.book{
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.speak {
    width: 225px;
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .mindset {
        width: 160px;
    }
    .author {
        width: 160px;
    }
}
@media screen and (max-width:992px) {
    .donate {
        width: 350px;
        height: 100%;
    }
    .author {
        width: 240px;
    }
    .income {
        width: 210px;
    }
    .speak {
        width: 260px;
    }
    .book {
        font-size: 20px;
    }
}
@media screen and (max-width:768px) {
    #myservice .mylist {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #myservice .mylist .listimg img {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 2rem;
    }
    #myservice .mylist .listcontent{
        text-align: center;
    }
}

.navbar .navbar-nav .nav-link {
    padding: 15px 30px 0 0;
    font-size: 19px;
    transition: .5s;
    color: white;
    margin-left: 4px;
  }
  .navbar-nav{
    flex-wrap: wrap;
  }
  .nav-item{
    white-space: nowrap;
  }

#header h1{
    font-size: 30px!important;
}
#header .menu-nav2{
    padding: 0!important;
}
#header {
    background: #265073;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
